@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
:root{
     --primary-color: #800000;
     --secondary-color: #FF6A00;
}
html{
     scroll-behavior: smooth;
}
*{
     margin: 0;
     padding: 0;
}
a{
     text-decoration: none;
}
body {
     margin: 0;
     font-family: 'Sorts Mill Goudy', serif;
     background-color: var(--primary-color);
     overflow-x: hidden;
}


/* navigation bar */
.navbar {
     background-color: var(--primary-color);
     color: var(--secondary-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 100px 0px 50px;
     position: sticky;
}

.logo img{
     width: 150px;
}

.nav-links {
     list-style: none;
     display: flex;
     gap: 20px;
}
.nav-right{
     display: flex;
     gap: 50px;
     align-items: center;
}
.nav-right button{
     background-color: var(--secondary-color);
     border: none;
     color: var(--primary-color);
     padding: 15px ;
     border-radius: 20px ;
     font-size: 1.2rem;
     cursor: pointer;

}
.nav-right button:hover{
     transform: scale(1.1);
     box-shadow: 2px 2px 10px black;

}
.nav-links a {
     color: var(--secondary-color);
     font-size: 1.8rem;
}
a:hover{
     text-decoration: underline;
}
.menu-icon{
     display: none;
}
@media (min-width: 800px) {
     .nav-links a{
          margin-left: 2rem;
     }
}
@media (max-width: 800px) {
     .nav-links {
     display: none;
     flex-direction: column;
     position: absolute;
     z-index: 999;
     top: 60px;
     right: 0;
     background-color: var(--secondary-color);
     width: 50%;
     text-align: center;
     padding: 30px 0;
     }
     .nav-links a:hover{
          background-color: #ff6a0033;
     }
     .nav-links a{
     padding: 20px 0;
     color: var(--primary-color);
     }
     
     .nav-links.show {
     display: flex;
     }
     .logo{
          margin-left: -2rem;
     }
     .menu-icon {
     display: block;
     font-size: 28px;
     cursor: pointer;
     margin-right: -4rem;
     }
     .logo img{
          width: 100px;
     }
     .nav-right button{
          padding: 10px ;
          font-size: 1rem;
     }
}



/* main body */

.main{
     display: flex;
     margin-top: 2vh;
}
.container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     height: max-content;
}
.image-container img{
     width: 300px;
     box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.879);
     border-radius: 5px;
}
.image-container img:hover{
     transform: scale(0.99);
}
.image-container h1{
     color: var(--secondary-color);
     border-top: 3px solid var(--secondary-color);
     border-bottom: 3px solid var(--secondary-color);
     padding: 1.2rem;
     margin: 1.2rem;
     font-size: 1.8rem;
     text-align: center;
     font-weight: normal;
}
.background-des img{
     height: 70dvh;
     opacity: 50%;
}
.container .text-container{
     font-size: 2.5rem;
     color: white;
     text-align: center;
     height: max-content;
}
@media screen and (min-width: 546px) and (max-width: 1157px){
     .image-container img{
          width: 40vw; 
          justify-self: center;
     } 
     .text-container p{
          font-size: 3.5rem;
          width: 50vw;
     }
     .image-container h1{
          font-size: 2rem;
     }
     .image-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
     }
     
}
@media screen and (min-width: 1157px){
     .image-container img{
          width: 40vw;   
     } 
     .container{
          align-items: flex-start; 
     }
     .text-container p{
          font-size: 6.8rem;
          width: 50vw;
     }
     .text-container{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
     }
     .image-container h1{
          font-size: 2.7rem;
          margin-top: 3rem;
     }

}



/* About section */
.about{
     background: url('about-background.png');
     display: flex;
     justify-content: center;
     align-items: center;
}
.about-grid > *{
     width: 23vw;
     text-shadow: 1px 1px 1px black;

}
.about-grid .highlighter{
     color: var(--primary-color);
     text-transform:uppercase;
     font-weight: 600;
     text-shadow: none;
}
.about-grid > *:hover{
     transform: scale(1.01);
     box-shadow: 0px 0px 10px black;
}
.about-grid > img{
     height: max-content;
}
.about-grid-img{
     width: 23vw;
     height: 50vh;
}
.about-grid{
     padding: 20vh 0;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     
}
.about-grid-text{
     background-color: hsla(25, 100%, 50%, 0.85);
     color: white;
     text-align: center;
     font-size: 1.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.about-grid-text-p{
     width: 20vw;
}

@media screen and (min-width:900px) and  (max-width: 1126px) {
     .about-grid{
          grid-template-columns: repeat(2,1fr);
          row-gap: 5px;
     }
     .about-grid-text-p{
          font-size: 1.1rem;
     }
}
@media screen and (max-width: 900px){
     
     .about-grid{
          grid-template-columns: repeat(1, 1fr);
          
     }
     .about-grid-img{
          width: 20vw;
     }
     .about-grid > *{
          width: 80vw;
     }
     .about-grid-text-p{
          width: 80vw;
          padding: 5vh 0;
     }
}

/* footer */
footer{
     background-color: var(--secondary-color);
     color: white;
     font-size: 1.3rem;

}
.footer1 span img{
     width: 20px;
}

.footer1{
     margin-bottom: 20px;
     max-width: 300px;
     text-wrap: wrap;
}
.footer1 span, .footer2 span{
     display: flex;
     align-items: center;
     gap: 5px;
     font-family: serif;
}
.footer1 span a{
     color: white;
}
.footer1 .email, .footer2-time {
     margin-top: -20px;
     margin-bottom: 20px;
}
.footer-text{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     max-width: 800px;
     margin: 0 auto;
     padding: 5vw;
}

.icons{
     display: flex;
     justify-content: center;
     gap: 5vw;
     min-width: 50px;
     padding-bottom: 5vh;
}
.icons img{
     width: 3vw;
     min-width: 30px;
     cursor: pointer;
}
.red{
     color: var(--primary-color);
     font-weight: 600;
}